<!-- Header -->
<div class="relative bg-transparent md:pt-32 pb-32 pt-12">
  <div class="px-2 md:px-2 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <!-- Dashboard Header -->
        <div class="w-full px-4" *ngIf="_router.url == '/admin/dashboard'">
          <app-card-stats
            statSubtitle=""
            statTitle="Welcome {{ userData?.fullName }}"
            statArrow=""
            statPercent=""
            statPercentColor=""
            statDescripiron="Use your KITT portal to do something you like"
            statIconName=""
            statIconColor=""
          ></app-card-stats>
        </div>
        <!-- Property Header -->
        <div
          class="w-full px-4"
          *ngIf="
            _router.url != '/admin/properties' &&
            (_router.url != '/admin/dashboard' && 
            _router.url != '/admin/payments' && 
            _router.url != '/admin/support-tickets' &&
            _router.url != '/admin/support-ticket-details' &&
            _router.url != '/admin/add-request'
            )
          "
        >
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="flex-auto p-4">
              <div class="relative">
                <div class="flex w-full">
                  <div class="mr-3" style="width: 20%">
                    <!-- <i class="fas fa-history" style="color: darkslategray;"></i> -->
                    <div *ngIf="propertyObj?.photos.length !== 0">
                      <img
                        class="md:w-48 rounded-lg"
                        src="{{ propertyObj?.photos[0].photoUrl }}"
                        alt=""
                        width="225"
                        height="150"
                      />
                    </div>
                    <div *ngIf="propertyObj?.photos.length === 0">
                      <img
                        class="
                          md:w-48
                          rounded-lg
                          mx-auto
                          border border-solid border-2
                        "
                        src="assets/img/no-image-found.png"
                        alt=""
                        width="140"
                        height="150"
                      />
                    </div>
                    <!-- <div class="w-0 border border-solid my-2 h-full border-dlueGray-100"></div> -->
                  </div>
                  <div class="break-words" style="width: 40%">
                    <span
                      class="text-blueGray-700 text-2xl font-semibold"
                      style="font-weight: 800"
                    >
                      {{ propertyObj?.address }}, {{ propertyObj?.addressLine2
                      }}<span *ngIf="propertyObj?.addressLine2 != null">, </span
                      >{{ propertyObj?.city }}, {{ propertyObj?.state }},
                      {{ propertyObj?.country }}
                    </span>
                    <div class="text-blueGray-500 text-xs mt-1 font-normal">
                      {{ propertyObj?.propertyID }}
                    </div>
                  </div>
                  <div style="width: 40%">
                    <div class="text-center lg:text-right">
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-transparent
                          border border-2 border-solid
                          text-blueGray-800
                          mr-4
                          inline-block
                        "
                        *ngIf="propertyObj?.propertyTypeLabel === 'House'"
                      >
                        <i class="fas fa-home"></i>
                        {{ propertyObj?.propertyTypeLabel }}
                      </span>
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-transparent
                          border border-2 border-solid
                          text-blueGray-800
                          mr-4
                          inline-block
                        "
                        *ngIf="propertyObj?.propertyTypeLabel === 'Apartment'"
                      >
                        <i class="fas fa-building"></i>
                        {{ propertyObj?.propertyTypeLabel }}
                      </span>
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-emerald-200
                          text-emerald-800
                          font-bold
                          inline-block
                        "
                        *ngIf="propertyObj?.tenanted === true"
                        >Rented</span
                      >
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-blueGray-100
                          text-blueGray-800
                          font-bold
                          inline-block
                        "
                        *ngIf="propertyObj?.tenanted !== true"
                        >Available</span
                      >
                    </div>
                    <div class="mt-12 text-center lg:text-right">
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-transparent
                          border border-2 border-solid
                          text-blueGray-800
                          mr-1
                          inline-block
                        "
                      >
                        {{ propertyObj?.city }}
                      </span>
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-transparent
                          border border-2 border-solid
                          text-blueGray-800
                          mr-1
                          inline-block
                        "
                      >
                        <span
                          *ngIf="
                            propertyObj?.bedRoom !== null &&
                            propertyObj?.bedRoom != 0
                          "
                        >
                          <i class="fas fa-bed"></i>
                          {{ propertyObj?.bedRoom }} Beds
                        </span>
                        <span
                          *ngIf="
                            propertyObj?.bedRoom === null ||
                            propertyObj?.bedRoom == 0
                          "
                        >
                          <i class="fas fa-bed"></i> 0 Beds
                        </span>
                      </span>
                      <span
                        class="
                          rounded-full
                          py-1
                          px-3
                          bg-transparent
                          border border-2 border-solid
                          text-blueGray-800
                          inline-block
                        "
                      >
                        <span
                          *ngIf="
                            propertyObj?.bathRoom !== null &&
                            propertyObj?.bathRoom != 0
                          "
                        >
                          <i class="fas fa-bath"></i>
                          {{ propertyObj?.bathRoom }} Baths
                        </span>
                        <span
                          *ngIf="
                            propertyObj?.bathRoom === null ||
                            propertyObj?.bathRoom == 0
                          "
                        >
                          <i class="fas fa-bath"></i> 0 Baths
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="flex-row w-full overflow-y-auto">
              </div> -->
            </div>
          </div>
        </div>

        <!--<div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="SALES"
            statTitle="924"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Since yesterday"
            statIconName="fas fa-users"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="PERFORMANCE"
            statTitle="49,65%"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last month"
            statIconName="fas fa-percent"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div> -->
      </div>
    </div>
  </div>
</div>
