<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full xl:w-4/12 lg:w-4/12 md:w-4/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
        <div class="rounded-t mb-0 px-6 py-6">
          <!-- Logo -->
          <div class="mb-1 w-50 h-22">
            <img class="mx-auto" src="assets/img/KITT_logo_teal_solid@1X.png">
          </div>

          <div class="text-center mb-3">
            <h6 class="text-teal-500 text-2xl font-bold">Forgot Password</h6>
          </div>
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form [formGroup]="forgotPasswordForm" #forgotPassNgForm="ngForm">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-teal-500 text-xs font-bold mb-2" htmlFor="grid-password">
                Email
              </label>
              <input type="email" [formControlName]="'email'"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email" />
              <span class="text-red-500"
                *ngIf="formCtrl.email.touched && formCtrl.email.invalid ||formCtrl.email.errors && forgetFormSubmitted">
                <small *ngIf="formCtrl.email.errors.required">Email is required.</small>
                <small *ngIf="formCtrl.email.errors.pattern">Please enter a valid email address.</small>
              </span>
            </div>

            <div class="relative w-full mb-3">
              <div>
                <div class="inline-flex items-center cursor-pointer">
                  <a role="button" class="text-sm font-medium text-indigo-600 hover:underline" (click)="Login()">
                    <i class="fas fa-long-arrow-alt-left"></i> Login
                  </a>
                </div>
              </div>

              <div class="text-center mt-6">
                <button
                  class="bg-teal-500 text-white text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button" [disabled]="forgotPasswordForm.disabled" (click)="sendResetLink()">
                  <span *ngIf="!forgotPasswordForm.disabled">
                    Send Reset Link
                  </span>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>