@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif !important;
}

html {
  font-size: 80% !important;
}

html,
body {
  height: auto;
}

/* .collapse-title:after {
    content: '\e409' !important;
    font-family: 'Material Icons';
    font-size: 24px;
    transform: rotate(0) !important;
    box-shadow: none !important;
    left: 0;
    margin-top: -4px;
}

arrow:focus:not(.collapse-close) .collapse-title:after,
.collapse-arrow:not(.collapse-close) input[type='checkbox']:checked~.collapse-title:after,
.collapse-open.collapse-arrow .collapse-title:after {
    content: '\e5cf' !important;
} */

@media all and (max-width: 980px) {
  .collapse-title:after {
    font-size: 19px;
    top: 14px !important;
  }
}
