.bg-blueGray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

.shadow-lg,
.shadow-md {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.break-words {
    overflow-wrap: break-word;
}

.flex-col {
    flex-direction: column;
}

.border-0 {
    border-width: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.rounded-t {
    border-top-right-radius: 0.25rem;
}

.rounded-t {
    border-top-left-radius: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-teal-500 {
    --tw-text-opacity: 1;
    color: rgba(20, 184, 166, var(--tw-text-opacity));
}

.lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.pt-0 {
    padding-top: 0;
}

.py-10 {
    // padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.flex-auto {
    flex: 1 1 auto;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.rounded {
    border-radius: 0.25rem;
}

.inline-flex {
    display: inline-flex;
}

.cursor-pointer {
    cursor: pointer;
}

.text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgba(79, 70, 229, var(--tw-text-opacity));
}

.bg-teal-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(20, 184, 166, var(--tw-bg-opacity));
}

.bottom-0 {
    bottom: 0;
}

.bg-blueGray-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(30, 41, 59, var(--tw-bg-opacity));
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.container {
    max-width: 1280px;
}

.border-blueGray-600 {
    --tw-border-opacity: 1;
    border-color: rgba(71, 85, 105, var(--tw-border-opacity));
}

.md\:justify-between {
    justify-content: space-between;
}

.xl\:w-4\/12 {
    width: 33.333333%;
}

.xl\:w-8\/12 {
    width: 66.666667%;
}

.md\:text-left {
    text-align: left;
}

.list-none {
    list-style-type: none;
}

.md\:justify-end {
    justify-content: flex-end;
}

.content-center {
    align-content: center;
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.west-icon {
    font-size: .875rem;
    font-weight: 900;
}

.text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgba(79, 70, 229, var(--tw-text-opacity));
}