<ngx-spinner bdColor="rgba(237, 238, 240, 1)" size="medium" color="#05adad" type="line-scale-pulse-out"
    [fullScreen]="true">
    <p style="font-size: 20px; color: #05adad; font-weight:bold">Loading...</p>
</ngx-spinner>

<!-- property section -->
<div class="flex flex-wrap items-center overflow-hidden bg-white border-b-2 rounded-lg border-accent-focus xl:pr-3">
    <div class="w-full overflow-hidden xl:w-2/12">
        <!-- Column Content -->
        <div class="" *ngIf="propertyPhotoList[0]?.photoUrl !== null">
            <img class="min-h-[112px] object-cover" src="{{propertyPhotoList[0]?.photoUrl}}" alt="" />
        </div>
        <div class="" *ngIf="propertyPhotoList[0]?.photoUrl === null">
            <img class="min-h-[112px] object-cover" src="./assets//images/no-image-found.png" alt="" />
        </div>
    </div>

    <div class="w-full overflow-hidden xl:w-[50%] pl-4 pr-4">
        <!-- Column Content -->
        <h1 class="mt-3 text-lg font-extrabold md:text-2xl xl:mt-0 text-secondary-focus">
            {{ propertyObj[0]?.address }},{{ propertyObj[0]?.addressLine2 }}
            <span *ngIf="propertyObj[0]?.addressLine2 != null">, </span> {{ propertyObj[0]?.city }}, {{
            propertyObj[0]?.state }}, {{ propertyObj[0]?.country }}
        </h1>
        <span class="text-xs font-semibold uppercase text-secondary">{{ propertyObj[0]?.propertyID }}</span>
    </div>

    <div class="w-full px-4 py-4 md:p-4 xl:w-1/3 xl:p-0 ">
        <!-- Column Content -->
        <span
            class="xl:ml-auto xl:px-11 px-2  w-full flex items-center justify-center max-w-[140px] font-bold text-green-700 bg-green-100 rounded-3xl h-9"
            *ngIf="propertyObj[0]?.tenanted === true">Rented</span>
        <span
            class="xl:ml-auto xl:px-11 px-2  w-full flex items-center justify-center max-w-[140px] font-bold text-green-700 bg-green-100 rounded-3xl h-9"
            *ngIf="propertyObj[0]?.tenanted !== true">Available</span>
        <div class="flex mt-4 xl:justify-end">
            <span
                class="px-1 xl:px-3 w-full flex items-center justify-center max-w-[140px] font-medium text-secondary rounded-3xl h-8 border border-secondary mr-1 xl:mr-4 text-xs">
                {{ propertyObj[0]?.city }}</span>
            <span
                class="px-1 xl:px-3 w-full flex items-center justify-center max-w-[140px] font-medium text-secondary rounded-3xl h-8 border border-secondary mr-1 xl:mr-4 text-xs"
                *ngIf="propertyObj[0]?.propertyTypeLabel === 'House'">
                <span class="mr-1 text-lg material-icons"> house </span> {{propertyObj[0]?.propertyTypeLabel}}
            </span>
            <span
                class="px-1 xl:px-3 w-full flex items-center justify-center max-w-[140px] font-medium text-secondary rounded-3xl h-8 border border-secondary mr-1 xl:mr-4 text-xs"
                *ngIf="propertyObj[0]?.propertyTypeLabel === 'Apartment'">
                <span class="material-icons"> apartment </span> {{propertyObj[0]?.propertyTypeLabel}}
            </span>
            <span
                class="min-w-[70px] px-1 w-full flex items-center justify-center max-w-[100px] font-medium text-secondary rounded-3xl h-8 border border-secondary mr-1 xl:mr-4 text-xs"
                *ngIf="bedRoom > 0">
                <span class="mr-1 text-lg material-icons"> bed </span> {{bedRoom}} Beds
            </span>
            <span
                class="min-w-[70px] px-1 w-full flex items-center justify-center max-w-[100px] font-medium text-secondary rounded-3xl h-8 border border-secondary mr-1 xl:mr-4 text-xs"
                *ngIf="bedRoom === undefined">
                <span class="mr-1 text-lg material-icons"> bed </span> 0 Beds
            </span>
            <span
                class="min-w-[70px] px-1 w-full flex items-center justify-center max-w-[110px] font-medium text-secondary rounded-3xl h-8 border border-secondary text-xs"
                *ngIf="bathRoom > 0">
                <span class="mr-1 text-lg material-icons"> bathtub </span> {{bathRoom}} Baths
            </span>
            <span
                class="min-w-[70px] px-1 w-full flex items-center justify-center max-w-[110px] font-medium text-secondary rounded-3xl h-8 border border-secondary text-xs"
                *ngIf="bathRoom === undefined">
                <span class="mr-1 text-lg material-icons"> bathtub </span> 0 Baths
            </span>
        </div>
    </div>
</div>
<!-- end property section -->


<!-- Tab Section -->
<div class="mt-10 mb-4 tabs">
    <a [class.istabb]="tabname == 'Overview'" href="javascript:void(0)" (click)="toggletab('Overview')"
        class="text-secondary border-transparent px-0 pb-3 mx-4 text-lg font-bold border-b-2">Overview</a>
    <a [class.istabb]="tabname == 'Tenancies'" href="javascript:void(0)" (click)="toggletab('Tenancies')"
        class="text-secondary border-transparent px-0 pb-3 mx-4 text-lg font-bold border-b-2 ">Tenancies</a>
    <a [class.istabb]="tabname == 'Inspections'" href="javascript:void(0)" (click)="toggletab('Inspections')"
        class="text-secondary border-transparent px-0 pb-3 mx-4 text-lg font-bold border-b-2">Inspections</a>
    <a [class.istabb]="tabname == 'Activity'" href="javascript:void(0)" (click)="toggletab('Activity')"
        class="text-secondary border-transparent px-0 pb-3 mx-4 text-lg font-bold border-b-2 ">Activity</a>
</div>
<!-- Tab Section -->


<!-- Overview -->
<div *ngIf="tabname == 'Overview'" class="tab-contents" id="Overview">
    <div class="flex flex-wrap ">
        <div class="w-full my-4 xl:px-4 xl:w-2/3 xl:my-0">
            <div class="bg-white overflow-hidden shadow-md xl:min-h-[600px] rounded-lg pb-3  h-full ">

                <div class="flex flex-wrap overflow-hidden xl:h-full ">

                    <div
                        class="px-2 py-2 w-full overflow-hidden border-b-[1px] pb-3 xl:border-b-0 xl:border-r-[1px] border-gray-300 xl:w-1/2">
                        <!-- Column Content -->
                        <img class="pre-main-img" src="{{ displayImg }}" alt="">
                        <ng-image-slider class="img-slider-wrp" #nav   [images]="imageObject" [infinite]="false"  [imagePopup]="false" [autoSlide]="1"
                            [imageSize]="{width: '15%', height: 75}" slideImage="1"></ng-image-slider>
                        <div>
                            <div class="relative w-full mt-3">
                                <div id="map" class="overflow-hidden bg-none" *ngIf="propertyPhotoList.length !== 0">
                                    <google-map [height]="mapHeight" width="100%" [zoom]="zoom" [center]="center"
                                        [options]="options">
                                        <map-marker [position]="marker?.position" [label]="marker?.label"
                                            [title]="marker?.title" [options]="marker?.options">
                                        </map-marker>
                                    </google-map>
                                </div>
                                <div class="overflow-hidden bg-none" id="map" *ngIf="propertyPhotoList.length === 0">
                                    <google-map [height]="mapHeight" width="100%" [zoom]="zoom" [center]="center"
                                        [options]="options">
                                        <map-marker [position]="marker?.position" [label]="marker?.label"
                                            [title]="marker?.title" [options]="marker?.options">
                                        </map-marker>
                                    </google-map>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full px-0 overflow-hidden xl:w-1/2">
                        <!-- Column Content -->
                        <h1
                            class="py-4 px-3 text-lg font-bold border-b-[1px] border-gray-300 text-secondary h-16 overflow-hidden">
                            Tenancy Details
                        </h1>
                        <div class="px-4">
                            <h5 class="pt-6 font-bold text-secondary">Current Rent</h5>
                            <h3 class="text-3xl font-bold text-secondary-focus ">${{propertyObj[1]?.currentRate}}<span
                                    class="text-xs font-extrabold">pw</span>
                            </h3>
                        </div>
                        <div class="px-4">
                            <h5 class="pt-6 font-bold text-secondary">Rent Last Changed</h5>
                            <h3 class="font-bold text-secondary-focus">{{propertyObj[1]?.rentLastChanged | date:
                                'dd/MM/yyyy'}} </h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="w-full my-4 bg-white rounded-lg shadow-md xl:my-0 xl:w-1/3">
            <!-- Column Content -->
            <div class="flex py-3 px-3  items-center border-b-[1px] border-gray-300 h-16 flex-wrap ">
                <div class="w-[55%]">
                    <h1 class="text-lg font-bold text-secondary">Activity</h1>
                </div>
                <div class="w-[45%] font-bold text-secondary flex justify-end">
                    <!-- <div class="w-full dropdown dropdown-end dropdown-hover max-w-[145px]">
                        <div tabindex="0" class="px-2 py-1 border-2 border-accent-focus min-w-[110px] text-center flex items-center justify-center">
                            <span class="mr-1 text-lg material-icons">
                                filter_alt
                            </span> Filter <span class="w-5 h-5 ml-1 text-xs rounded-md text-secondary bg-accent-focus leading-[1.55] ">3</span>
                            <span class="ml-1 material-icons">expand_more</span>
                        </div>
                        <ul class="shadow menu dropdown-content bg-base-100 rounded-box w-52">
                            <li>
                                <a>Item 1</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="relative mx-5 pb-14">
                <!-- verticle line start -->
                <div class="absolute top-7  w-[1px]  h-[calc(100%-70px)]  bg-accent-focus left-[18px]    max-w-[700px]">
                </div>
                <!-- verticle line end -->

                <div class="flex max-w-[700px] pt-6 relative" *ngFor="let act of activityList; let i = index">
                    <div>
                        <span
                            class="flex items-center justify-center ml-auto text-white rounded-full material-icons bg-[#BAC0C2]  h-11 w-11 text-xl">
                            sync
                        </span>
                    </div>
                    <div class="w-4/5 pl-5">
                        <h3 class="font-bold text-secondary-focus">{{act?.title}}</h3>
                        <!-- <h6 class="font-bold text-secondary-focus" style="color: #06c4af;">{{act?.activityTypeLabel}}
                        </h6> -->
                        <span class="block text-xs">{{act?.activityDate | date:'longDate'}}</span>
                        <p>{{act?.message}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center" *ngIf="activityList?.length === 0">
                <span class="text-blueGray-700 font-xl">No records found</span>
            </div>
            <!-- <a href="#" class="block pb-4 pr-6 font-bold text-right text-primary"> View All Activities</a> -->
        </div>

    </div>
</div>
<!-- end Overview -->


<!-- Tenancies -->
<div *ngIf="tabname == 'Tenancies'" class="tab-contents" id="Tenancies">
    <div class="flex flex-wrap ">
        <div class="w-full my-4 xl:px-4 xl:w-2/3 xl:my-0">
            <div class="bg-white overflow-hidden shadow-md xl:min-h-[600px] rounded-lg pb-3  h-full ">
                <h1 class="py-5 px-3 text-lg font-bold border-b-[1px] border-gray-300 text-secondary">Tenancy Details
                </h1>
                <div class="flex flex-wrap px-4 overflow-hidden xl:h-full ">

                    <div
                        class="w-full overflow-hidden border-b-[1px] pb-3 xl:border-b-0 xl:border-r-[1px] border-gray-300 xl:w-1/2">
                        <!-- Column Content -->
                        <div>
                            <h5 class="pt-6 font-bold text-secondary">Tenancy Name</h5>
                            <h3 class="font-bold text-secondary-focus ">{{propertyObj[1]?.accName}}</h3>
                        </div>
                        <div>
                            <h5 class="pt-6 font-bold text-secondary">Tenants</h5>
                            <h3 class="font-bold text-secondary-focus ">{{propertyObj[1]?.tenants[0]?.name}} <br />
                                {{propertyObj[1]?.tenants[1]?.name}}
                            </h3>
                        </div>
                        <div>
                            <h5 class="pt-6 font-bold text-secondary">Tenancy Type</h5>
                            <h3 class="font-bold text-secondary-focus ">{{propertyObj[1]?.tenancyTypeLabel}}</h3>
                        </div>

                        <div class="flex flex-wrap overflow-hidden">
                            <div class="w-1/2">
                                <h5 class="pt-6 font-bold text-secondary">Start Date</h5>
                                <h3 class="font-bold text-secondary-focus ">{{propertyObj[1]?.startDate | date:
                                    'dd/MM/yyyy'}}
                                </h3>
                            </div>
                            <div class="w-1/2">
                                <h5 class="pt-6 font-bold text-secondary">End Date</h5>
                                <h3 class="font-bold text-secondary-focus ">{{propertyObj[1]?.endDate | date:
                                    'dd/MM/yyyy'}}
                                </h3>
                            </div>
                        </div>

                    </div>

                    <div class="w-full px-0 overflow-hidden xl:px-4 xl:w-1/2">
                        <!-- Column Content -->
                        <div>
                            <h5 class="pt-6 font-bold text-secondary">Current Rent</h5>
                            <h3 class="text-3xl font-bold text-secondary-focus ">${{propertyObj[1]?.currentRate}}<span
                                    class="text-xs font-extrabold">pw</span>
                            </h3>
                        </div>
                        <div>
                            <h5 class="pt-6 font-bold text-secondary">Rent Last Changed</h5>
                            <h3 class="font-bold text-secondary-focus">{{propertyObj[1]?.rentLastChanged | date:
                                'dd/MM/yyyy'}} </h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="w-full px-3 my-4 bg-white rounded-lg shadow-md xl:my-0 xl:px-4 xl:w-1/3">
            <!-- Column Content -->
            <div class="pb-3 mb-5 overflow-hidden xl:mb-0 xl:my-1">
                <div class="flex py-3  items-center border-b-[1px] border-gray-300    flex-wrap ">
                    <div class="w-[55%]">
                        <h1 class="text-lg font-bold text-secondary">Tenancy Documents</h1>
                    </div>
                    <div class="w-[45%] font-bold text-secondary flex justify-end">
                        <!-- <div class="w-full dropdown dropdown-end dropdown-hover max-w-[145px]">
                            <div tabindex="0" class="px-2 py-1 border-2 border-accent-focus min-w-[110px] text-center flex items-center justify-center">
                                <span class="mr-1 text-lg material-icons">
                                    filter_alt
                                </span> Filter <span class="w-5 h-5 ml-1 text-xs rounded-md text-secondary bg-accent-focus leading-[1.55] ">3</span>
                                <span class="ml-1 material-icons">expand_more</span>
                            </div>
                            <ul class="shadow menu dropdown-content bg-base-100 rounded-box w-52">
                                <li>
                                    <a>Item 1</a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                <div class="mx-1 pb-3 pt-4 border-b-[1px] border-gray-300 flex overflow-hidden items-center"
                    *ngFor="let tendoc of tenantDocumentList; let i = index">
                    <div class="w-10/12">
                        <h1 class="text-xs font-bold xl:text-lg text-secondary-focus">{{tendoc?.name}}</h1>
                        <span class="text-xs text-secondary xl:text-base">{{tendoc?.createdOn | date:
                            'dd/MM/yyyy'}}</span>
                    </div>
                    <a class="w-2/12 text-center" rel="noopener noreferrer" [href]="tendoc?.docUrl"
                        [download]="tendoc?.docUrl" target="_blank">
                        <span class="material-icons text-primary"> file_download </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Tenancies -->


<!-- Inspections Tab -->
<div *ngIf="tabname == 'Inspections'" class="tab-contents" id="Inspections">

    <div class="flex flex-wrap w-full mb-6 overflow-hidden bg-white rounded-lg shadow-md">
        <div class="w-full px-5 py-5 border-b-[1px] border-gray-200 md:border-r-2 md:w-1/3">
            <p class="font-semibold text-secondary ">Last Inspection</p>
            <h1 class="text-4xl font-bold">{{propertyObj[0]?.lastInspectionDate | date: 'dd/MM/yyyy'}}</h1>
        </div>
        <div class="w-full px-5 py-5  border-b-[1px] border-gray-200 md:border-r-2 md:w-1/3">
            <p class="font-semibold text-secondary">Next Inspection</p>
            <h1 class="text-4xl font-bold">{{propertyObj[0]?.nextInspectionDate | date: 'dd/MM/yyyy'}}</h1>
        </div>
        <div class="w-full px-5 py-5 border-b-[1px] md:w-1/3">
            <p class="font-semibold text-secondary">Frequency Inspection</p>
            <h1 *ngIf="propertyObj[0]?.inspectionFrequencyLabel !== null" class="text-4xl font-bold">
                {{propertyObj[0]?.inspectionFrequencyLabel}}</h1>
            <h1 *ngIf="propertyObj[0]?.inspectionFrequencyLabel === null" class="text-4xl font-bold"> - </h1>
        </div>
    </div>
    <div class="w-full bg-white shadow-md md:w-2/3">
        <div class="flex flex-wrap items-center px-5 py-3 border-b-2 border-gray-300 ">
            <div class="w-[55%]">
                <h1 class="text-lg font-bold text-secondary">Tenancy Documents</h1>
            </div>
            <div class="w-[45%] font-bold text-secondary flex justify-end">
                <!-- <div class="w-full dropdown dropdown-end dropdown-hover max-w-[145px]">
                    <div tabindex="0" class="px-2 py-1 border-2 border-accent-focus min-w-[110px] text-center flex items-center justify-center">
                        <span class="mr-1 text-lg material-icons">
                            filter_alt
                        </span> Filter <span class="w-5 h-5 ml-1 text-xs rounded-md text-secondary bg-accent-focus leading-[1.55] ">3</span>
                        <span class="ml-1 material-icons">expand_more</span>
                    </div>
                    <ul class="shadow menu dropdown-content bg-base-100 rounded-box w-52">
                        <li>
                            <a>Item 1</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>

        <div class="px-6 py-6">
            <div class="relative overflow-visible border-b-[1px] collapse md:overflow-hidden collapse-arrow border-gray-200"
                *ngFor="let ins of inspectionList; let i = index">
                <input type="checkbox" class="z-50">
                <div class="flex justify-between text-xl font-medium collapse-title after:!shadow-none !bg-white !p-0 !min-h-[1px]"
                    style="align-items: center;">
                    <span class="text-base font-bold md:text-xl md:pl-20"> {{ ins?.inspectionTypeLabel }} </span>
                    <span class="font-bold text-2xs md:text-xl "> {{ ins?.propertyInspectionDate | date: "longDate" }}
                    </span>
                </div>
                <div class="!bg-white collapse-content !pl-0 md:!pl-20 flex flex-wrap justify-between !pr-0 pt-4">
                    <div class="w-full md:w-4/5 max-w-[600px] text-secondary">
                        <b>Summary</b>
                        <p>{{ ins?.description }} </p>
                    </div>
                    <div class="w-full pt-4 md:pl-4 md:w-1/5">
                        <a [href]="ins?.reportLink" [download]="ins?.reportLink" rel="noopener noreferrer"
                            target="_blank"
                            class="block max-w-[8rem] p-3 px-1 font-bold text-center border rounded-lg md:ml-auto border-primary text-primary">View
                            Report</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-6 py-6" *ngIf="inspectionList?.length === 0">
            <div class="text-center">
                <span class="text-blueGray-700 font-xl">No records found</span>
            </div>
        </div>

    </div>


</div>
<!-- End Inspections Tab -->

<!-- Activity Tab -->
<div *ngIf="tabname == 'Activity'" class="tab-contents" id="Activity">
    <div class="flex flex-wrap ">
        <div class="w-full px-0  xl:min-h-[600px] shadow-md bg-white xl:mx-4 rounded-lg  mb-5 pb-8 ">
            <h1 class="py-5 px-4  xl:px-5 text-lg font-bold border-b-[1px] border-gray-300 text-secondary">Activity</h1>

            <div class="relative px-3 xl:ml-20">
                <!-- verticle line start -->
                <div class="absolute top-7  w-[1px] h-[calc(100%-20px)] bg-accent-focus left-[2.1rem]   max-w-[700px]">
                </div>
                <!-- verticle line end -->
                <div class="flex max-w-[700px] pt-6 relative" *ngFor="let act of activityList; let i = index">
                    <div>
                        <span
                            class="flex items-center justify-center ml-auto text-white rounded-full material-icons bg-[#BAC0C2]  h-11 w-11 text-xl">
                            sync
                        </span>
                    </div>
                    <div class="w-4/5 pl-5">
                        <h3 class="font-bold text-secondary-focus">{{act?.title}}</h3>
                        <!-- <h6 class="font-bold text-secondary-focus" style="color: #06c4af;">{{act?.activityTypeLabel}}
                        </h6> -->
                        <span class="block text-xs">{{act?.activityDate | date:'longDate'}}</span>
                        <p>{{act?.message}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center" *ngIf="activityList?.length === 0">
                <br />
                <span class="text-blueGray-700 font-xl">No records found</span>
            </div>

            <!-- <a href="#" class="inline-block px-5 py-2 mt-6 font-semibold border-2 rounded-lg hover:bg-primary hover:text-white ml-7 border-primary text-primary ">View
                More</a> -->
        </div>
    </div>
</div>
<!-- End Activity Tab -->