a.active span {
    --tw-text-opacity: 1;
    color: rgba(13, 148, 136, var(--tw-text-opacity));
    font-weight: 700;
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.left-7 {
    left: 12.75rem;
}