.min-h-screen {
    min-height: 100vh;
}

.py-40 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bg-full {
    background-size: 100%;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bottom-0 {
    bottom: 0;
}