<!-- Spinner -->
<ngx-spinner bdColor="rgba(237, 238, 240, 1)"
             size="medium"
             color="#05adad"
             type="line-scale-pulse-out">
    <br />
    <p style="font-size: 20px; color: #05adad; font-weight:bold">Loading...</p>
</ngx-spinner>

<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full xl:w-4/12 lg:w-4/12 md:w-4/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
          <div class="rounded-t mb-0 px-6 py-6">
            <!-- Logo -->
            <!-- <div class="mb-1 w-50 h-22">
              <img class="mx-auto" src="assets/img/KITT_logo_teal_solid@1X.png">
            </div> -->
  
            <div class="text-center mb-3">
              <h6 class="text-teal-500 text-2xl font-bold">Change Password</h6>
            </div>
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <form [formGroup]="changePasswordForm" #changePassNgForm="ngForm">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-teal-500 text-xs font-bold mb-2" htmlFor="grid-password">
                  New Password
                </label>
                <input type="password" [formControlName]="'password'"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password" (change)="matchPassword()" />
                  <span class="text-red-500" *ngIf="formCtrl.password.touched && formCtrl.password.invalid ||formCtrl.password.errors && changePassFormSubmitted">
                    <small *ngIf="formCtrl.password.errors.required">New Password is required.</small>
                    <small *ngIf="formCtrl.password.errors.pattern">Password must contain an Uppercase, a Lowercase, a Number, a Special character, and 8 to 20 characters.</small>
                    <small *ngIf="formCtrl.password.errors?.minlength">Password must contain at least 8 characters.</small>
                    <small *ngIf="formCtrl.password.errors?.maxlength">Password, should not exceed 20 characters.</small>   
                </span>
              </div>
  
              <div class="relative w-full mb-3">
                <label class="block uppercase text-teal-500 text-xs font-bold mb-2" htmlFor="grid-password">
                    Confirm Password
                </label>
                <div>
                  <input type="password" [formControlName]="'passwordConfirm'"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Confirm Password" (change)="matchPassword()" />
                </div>
                <div class="text-red-500" *ngIf="formCtrl.passwordConfirm.touched && formCtrl.passwordConfirm.invalid ||formCtrl.passwordConfirm.errors && changePassFormSubmitted">
                  <small *ngIf="formCtrl.passwordConfirm.errors.required">Password is required.</small>
                  <small *ngIf="formCtrl.passwordConfirm.errors.pattern">Password must contain an Uppercase, a Lowercase, a Number, a Special character, and 8 to 20 characters.</small>
                  <small *ngIf="formCtrl.passwordConfirm.errors?.minlength">Password isn't long enough, a minimum of 8 characters required.</small>
                  <small *ngIf="formCtrl.passwordConfirm.errors?.maxlength">Password, should not exceed 20 characters.</small>
                </div>
                <div class="text-red-500" *ngIf="passwordMismatchFlag">
                    <small>New Password and Confirm Password should match!</small>
                </div>
              </div>
  
              <div class="text-center mt-6">
                <button
                  class="bg-teal-500 text-white text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button" (click)="changePassword()" [disabled]="changePasswordForm.disabled">
                  <span *ngIf="!changePasswordForm.disabled">
                    Change Password
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>